body {
  margin: 0;
  background-color: #f2ecec;
}

h2 {
  text-align: center;
  margin: 0;
  color: white;
}

.current-pages,
.prev-next-pages {
  color: aliceblue;
  margin: 10px;
  cursor: pointer;
}

.title-catalog {
  font-size: 3em;
  font-weight: 500;
  color: black;
}

.items-card-in-the-list {
  text-align: center;
  width: 200px;
  height: 355px;
  border-radius: 10px;
  background-color: white;
  margin: 4px;
}

.items-card-in-the-list:hover {
  outline: 3px solid silver;
  border-radius: 10px;
}

.side-left {
  width: 13%;
  background-color: #f2ecec;
}

.side-right {
  width: 13%;
  background-color: #f2ecec;
}

.general-content {
  width: 74%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.buttons-change-pages {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.disabled-btn {
  color: grey;
  cursor: default;
  margin: 10px;
}

.active-btn {
  margin: 10px;
  cursor: pointer;
}

.show-page {
  margin: 10px;
  cursor: default;
}

.active-btn:hover .active-arrow {
  color: #262626;
  font-weight: 900;
}

.not-showed-pages {
  display: none;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin: 10px;
}

.form-border {
  margin-top: 10px;
  border: grey solid 1px;
  border-radius: 5px;
}

.image_wrap {
  margin: 5px;
  margin-top: 20px;
}

.product-wrap {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.product-wrap:hover {
  text-decoration: underline;
}

.price-value {
  color: #a52838;
  cursor: default;
}

.brand {
  cursor: default;
}

.footer {
  background-color: #262626;
  color: white;
  height: 150px;
  margin-top: 20px;
}

.form-select {
  height: 31px;
}

.form-imput {
  height: 25px;
  width: 360px;
}

.form-button {
  height: 31px;
  cursor: default;
}

.footer-text {
  text-align: center;
}

.footer-text-top {
  padding-top: 30px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer-text a, .footer-text-top a {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}